html{
    background-color: #fff;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

/* BODY/GENERAL */

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
  color: #444;
  margin: 50px auto;
  max-width: 1200px;
}

/* NAVIGATION */

#logo {
  width: 75px;
  height: 75px;
}

.logo_float {
  float: left;
  width: 300px;
}

.active {
  font-weight: bold;
  color: #444;
}

nav ul {
  float: left;
  width: 25%;
  list-style: none;
  margin: 0em;
  padding: 0em;
}

nav ul li {
  margin: 0em 1.5em 0em 0em;
  padding: 0em;
  display: block;
}

nav a {
  color: #aaa;
  text-decoration: none;
}

nav a:hover {
  color: #444;
}

nav h1 {
  float: right;
  width: 50%;
  margin: 0em;
  font-weight: normal;
  font-size: 16px;
}


/* MAIN */

section.projects_all {
  display: block;
  clear: left;
  border-top: 1px solid #DDD;
  margin-top: 50px;

}

section.projects_all a {
  border: none;
  display: block;
  clear: none;
}

section.projects_all a img {
  height: 400px;
  width: 600px;
  display: block;
  margin: 0;
  padding: 12px;
  float: left;
}

section.projects_all a strong {
  position: relative;
  padding: 1em 0em 0em 2em;
  font-weight: bold;
  display: none;
}

/* FOOTER */

footer {
  clear: both;
  display: block;
  color: #aaa;
  padding: 0.5em 1.5em;
  border-top: 1px solid #DDD;
}

footer p {
  float: left;
  width: 25%;
  margin: 0em;
}

footer a {
  float: right;
  width: 75%;
  margin: 0em;
  color: #aaa;
  text-decoration: none;
}

footer a:hover {
  color: #444;
  text-decoration: underline;
}
