html{
    background-color: #fff;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

/* BODY/GENERAL */

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
  color: #444;
  margin: 50px auto;
  max-width: 1200px;
}

/* NAVIGATION */


#logo {
  width: 75px;
  height: 75px;
}

.logo_float {
  float: left;
  width: 300px;
}

.active {
  font-weight: bold;
  color: #444;
}

nav ul {
  float: left;
  width: 25%;
  list-style: none;
  margin: 0em;
  padding: 0em;
}

nav ul li {
  margin: 0em 1.5em 0em 0em;
  padding: 0em;
  display: block;
}

nav a {
  color: #aaa;
  text-decoration: none;
}

nav a:hover {
  color: #444;
}

nav h1 {
  float: right;
  width: 50%;
  margin: 0em;
  font-weight: normal;
  font-size: 16px;
}


/* MAIN */

.main {
  display: block;
  clear: both;
  border-top: 1px solid #DDD;
  margin-top: 50px;
}

.content {
  display: block;
  float: left;
}

.content img{
  padding: 12px;
  height: 400px;
  width: 600px;
  margin-bottom: -60px;
  opacity: 1;
  filter: alpha(opacity=100);
}

.content img:hover {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.content p {
  position: relative;
  top: -315px;
  left: 40px;
  z-index: 100;
  opacity: 0;
  color: #444;
  font-weight: bold;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.content p:hover {
  opacity: 1;
  -moz-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}


/* FOOTER */

footer {
  clear: both;
  display: block;
  color: #aaa;
  padding: 0.5em 1.5em;
  border-top: 1px solid #DDD;
}

footer p {
  float: left;
  width: 25%;
  margin: 0em;
}

footer a {
  float: right;
  width: 75%;
  margin: 0em;
  color: #aaa;
  text-decoration: none;
}

footer a:hover {
  color: #444;
  text-decoration: underline;
}
